{% extends "base.html" %}

{% block titre %}Gladonneur.fr{% endblock %}


{% block corps %}
<section class="container">
    <div class="product-wrapper">
        <div class="product-slider">
            {% if product['filename2'] == "" %}
                <img class="product-image"
                     src=" {{ url_for('static', filename=('img_product/{}'.format(product['filename1']))) }}">
            {% elif product['filename3'] == "" %}
                <img class="product-image"
                     src=" {{ url_for('static', filename=('img_product/{}'.format(product['filename1']))) }}">
                <img class="product-image"
                     src=" {{ url_for('static', filename=('img_product/{}'.format(product['filename2']))) }}">
            {% else %}
                <img class="product-image"
                     src=" {{ url_for('static', filename=('img_product/{}'.format(product['filename1']))) }}">
                <img class="product-image"
                     src=" {{ url_for('static', filename=('img_product/{}'.format(product['filename2']))) }}">
                <img class="product-image"
                     src=" {{ url_for('static', filename=('img_product/{}'.format(product['filename3']))) }}">
            {% endif %}
        </div>
        <div class="product-infos">
            <h1 class="signup-title">Modifier ce produit</h1>
            <form action="/edit_product/{{product['id']}}" class="form-wrapper"
                  enctype="multipart/form-data"
                  method="POST">
                <div class="input-box">
                    <input class="input-text" minlength="3" name="title"
                           onChange="this.setAttribute('value', this.value);" required
                           type="text" value="{{ product['title'] }}">
                    <label class="input-label">Titre</label>
                </div>
                <div class="input-box">
                    <textarea class="input-text input-textarea" cols="50" minlength="120" name="desc"
                              onChange="this.setAttribute('value', this.value);" required
                              rows="15" wrap='hard'>{{ product['desc'] }}</textarea>
                    <label class="input-label">Description</label>
                </div>
                <div class="input-box">
                    <input class="input-text" min="0" name="price" onChange="this.setAttribute('value', this.value);"
                           required step=".01"
                           type="number"
                           value='{{ "{:.2f}".format(product["price"]) }}'>
                    <label class="input-label">Prix</label>
                </div>
                <div class="input-box">
                    <input class="input-text" minlength="3" name="tag"
                           onChange="this.setAttribute('value', this.value);" required type="text"
                           value="{{ product['tag'] }}">
                    <label class="input-label">Tag</label>
                </div>
                <div class="input-box">
                    <label>Choisis l'image de ton produit (max 3)</label>
                    <input accept="image/png, image/jpeg" id="file" multiple name="file" type="file">
                </div>
                <div class="btns btns--column">
                    <button class="btn btn--primary" id="valider" type="submit">Je modifie ce produit</button>
                </div>
            </form>
            <div class="btn-delete-wrapper">
                <a class="btn btn--secondary btn-delete action-confirm-delete">Supprimer ce produit</a>
                <div class="btn-delete-confirm">
                    <span class="btn btn--secondary action-delete-product">Oui</span>
                    <span class="btn btn--primary action-abort-delete">Non</span>
                </div>
                <form action="/del_product" class="form-delete-product" method="POST">
                    <input hidden id="title" name="title" required type="text" value='{{product["title"]}}'>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}